-# app/views/layouts/application.html.haml

!!!
%html
  %head
    %meta{ charset: "utf-8" }
    %meta{ content: "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible" }
    %meta{ content: "initial-scale=1.0, width=device-width", name: "viewport" }
    %title Annapurna
    %meta{ content: "A basic ruby on rails 4.2 application for a Heroku Deployment.", name: "description" }
    %meta{ content: "Design, Development, Digital, Design, Agency, Mobile, App, Web, Website", name: "tags" }
    %meta{ content: "Lim9 (info[@]lim9.com)", name: "author" }
    = favicon_link_tag "favicon.png", rel: "icon", type: "image/png"
    = favicon_link_tag "favicon.ico", type: "image/vnd.microsoft.icon"
    = stylesheet_link_tag "publicboard/application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "publicboard/application", "data-turbolinks-track" => true, async: true
    = csrf_meta_tags
    :css
      html{background-color:#0e0215;}
      body{color:#0e0215;background-color:#901ad8;font-family:Helvetica,Arial,Sans-serif;font-size:18px;}
      body .universal{width:100%}
      body, body .universal, body .universal .placeholder{margin:0 auto}
      body .universal .placeholder .wrap{display:block;float:left;width:inherit;margin:0 auto}

  %body
    %header.universal
      .placeholder
        .wrap
          .row12Left
        .clear

    %main.universal
      .placeholder
        .wrap
          .row12Left
            = yield
        .clear

    %footer.universal
      .placeholder
        .wrap
          .row12Left
        .clear
